<div id="bloopgen">
    <div class="info-bubble">
        Tap the "bloopmojis" to change them.<br /> Save or share on social media.
    </div>
    <div id="bloop">
            <img id="bloop_frame" src="./res/img/pngs/BLOOP_blp.png" />
        <div id="bm1" class="bloopmoji">
            <img src="./res/img/pngs/icons/BLOOP_SadJordan.png" />
        </div>
        <div id="bm2" class="bloopmoji">
            <img src="./res/img/pngs/icons/BLOOP_SadJordan.png" class/>
        </div>
    </div>
    <div id="bloopmojis">
    </div>
    <canvas id="shadowbloop" width="828" height="698" style="display:none"></canvas>
    <div class="full-btns">
        <div id="save-btn" class="halfbtn">
            <span class="btn-txt"><i class="sti sti-pendrive sti-lg sti-fw"></i> save</span>
        </div>
        <div id="share-btn" class="halfbtn">
            <span class="btn-txt"><i class="sti sti-share sti-lg sti-fw"></i> share</span>
        </div>
        <div id="back-btn" class="fullbtn">
            <span class="btn-txt"><i class="sti sti-angle-left-circle sti-lg sti-fw"></i> back</span>
        </div>
    </div>
</div>
