<div id="main">
    <div id="preload">
        <img src="./res/img/bloop-gen.png" />
    </div>
    <video style="display:none" class="fullvid" autoplay="true" loop=true>
        <source src="./res/vid/BLOOP_App.mp4" type="video/mp4">
    </video>
    <div id="mute">
        <i class="sti-icon sti-fw sti-2x sti-volume1"></i>
    </div>
    <div class="full-btns">
        <div id="listen-btn" class="fullbtn">
            <span class="btn-txt">listen</span> to <img src="./res/img/nativeryhmes.png" class="btn-img" /> on <img src="./res/img/dash.png" class="btn-img" />
            <div id="sched">Mondays @ <strong>9PM</strong></div>
        </div>
        <div id="gen-btn" class="fullbtn">
            <span class="btn-txt">✨bloop✨</span> <span class="btn-txt emph">Generator</span>
        </div>
    </div>
</div>
