<div id="menu">
    <div class="header">
        <div class="header-txt">
            You're at the <strong>{{section}}</strong>
        </div>
    </div>
    {{#menu}}
    <div id="item-list">
        {{#value_shelf}}
            {{#.}}
                <div class="item">
                    <!-- DETAILS OVERLAY -->
                    <div id="item-overlay{{id}}" class="item-overlay">
                        <div data-id="{{id}}" class="close-btn">
                            <i class="sti sti-close sti-3x"></i>
                        </div>
                        <div class="item-labels labels">
                            <div class='shelf{{shelf}} txt-label'>
                                {{shelf_name}} SHELF
                            </div>
                            <div class="txt-label {{info.type}} item-type">
                                {{info.type}}
                            </div>
                        </div>
                        {{#info.analysis}}
                        <div class="item-labels labels">
                            {{#info.analysis.thc}}
                            <div class="txt-label item-type">
                                {{info.analysis.thc}}% <strong>THC</strong>
                            </div>
                            {{/info.analysis.thc}}
                            {{#info.analysis.cbd}}
                            <div class="txt-label item-type">
                                {{info.analysis.cbd}}% <strong>CBD</strong>
                            </div>
                            {{/info.analysis.cbd}}
                        </div>
                        {{/info.analysis}}
                        <p>
                            <strong>{{name}}</strong>
                            <br /><br />
                            {{{description}}}
                        </p>
                        <div class="item-qty-img">
                            <strong>Stock Level</strong>
                            <br /><br />
                            <img src="img/app/menu-jars/{{stock_level}}.png" alt="" />
                        </div>
                        <!-- <div class="label-container">
                            <div class="item-labels labels">
                                <div class="txt-label item-type">
                                    {{info.analysis.thc}}% <strong>THC</strong>
                                </div>
                                <div class="txt-label item-type">
                                    {{info.analysis.cbd}}% <strong>CBD</strong>
                                </div>
                            </div>
                        </div> -->
                    </div>
                    <!-- ADD TO CART/ QUANTITY OVERLAY -->
                    <div id="qty-overlay{{id}}" class="item-qty-overlay item-overlay">
                        <div data-id="{{id}}" class="qty-close-btn pull-right">
                            <i class="sti sti-close sti-3x"></i>
                        </div>
                        <p>
                            <strong>{{name}}</strong>
                            <br /><br />
                            {{{description}}}
                        </p>
                        <!-- OVERLAY BTNS -->
                        <div data-id="{{id}}" class="btns">
                            {{^price_weight}}
                                {{#price.ea}}
                                <div data-size="ea" class="btn pull-left order-btns">
                                    <i class="sti sti-cart"></i> ${{price.ea}} Each
                                </div>
                                {{/price.ea}}
                            {{/price_weight}}
                            {{#price_weight}}
                                {{#price.g}}
                                <div data-size="g" class="btn pull-left order-btns">
                                    <i class="sti sti-cart"></i> One Gram (1g) ${{price.g}}
                                </div>
                                {{/price.g}}
                                {{#price.eth}}
                                <div data-size="eth" class="btn pull-left order-btns">
                                    <i class="sti sti-cart"></i> Eighth (3.5g) ${{price.eth}}
                                </div>
                                {{/price.eth}}
                                {{#price.qtr}}
                                <div data-size="qtr" class="btn pull-left order-btns">
                                    <i class="sti sti-cart"></i> Quarter (7g) ${{price.qtr}}
                                </div>
                                {{/price.qtr}}
                                {{#price.half}}
                                <div data-size="half" class="btn pull-left order-btns">
                                    <i class="sti sti-cart"></i> Half (14g) ${{price.half}}
                                </div>
                                {{/price.half}}
                                {{#price.oz}}
                                <div data-size="oz" class="btn pull-left order-btns">
                                    <i class="sti sti-cart"></i> Full (28g) ${{price.oz}}
                                </div>
                                {{/price.oz}}
                            {{/price_weight}}
                        </div>
                    </div>

                    <!-- LIST ITEM -->
                    <div data-id="{{id}}" class="detail-btn pull-right">
                        <i class="sti sti-more sti-2x"></i>
                    </div>
                    <div class="item-inner">
                        <div class="item-labels">
                            <div class='shelf{{shelf}} txt-label'>
                                {{shelf_name}} SHELF
                            </div>
                            <div class="txt-label {{info.type}} item-type">
                                {{info.type}}
                            </div>
                        </div>
                        <div class="item-name">{{name}}</div>
                        <div class="item-img" style="background: url({{img_src}}) center center no-repeat;"></div>
                    </div>
                    <!-- ITEM BUTTONS -->
                    <div class="item-btns">
                        <div data-id="{{id}}" class="btn pull-left cart-btn">
                            <i class="sti sti-cart"></i> ADD TO CART
                        </div>
                    </div>
                </div>
            {{/.}}
        {{/value_shelf}}
        {{#mid_shelf}}
            {{#.}}
                <div class="item">
                    <!-- DETAILS OVERLAY -->
                    <div id="item-overlay{{id}}" class="item-overlay">
                        <div data-id="{{id}}" class="close-btn">
                            <i class="sti sti-close sti-3x"></i>
                        </div>
                        <div class="item-labels labels">
                            <div class='shelf{{shelf}} txt-label'>
                                {{shelf_name}} SHELF
                            </div>
                            <div class="txt-label {{info.type}} item-type">
                                {{info.type}}
                            </div>
                        </div>
                        {{#info.analysis}}
                        <div class="item-labels labels">
                            {{#info.analysis.thc}}
                            <div class="txt-label item-type">
                                {{info.analysis.thc}}% <strong>THC</strong>
                            </div>
                            {{/info.analysis.thc}}
                            {{#info.analysis.cbd}}
                            <div class="txt-label item-type">
                                {{info.analysis.cbd}}% <strong>CBD</strong>
                            </div>
                            {{/info.analysis.cbd}}
                        </div>
                        {{/info.analysis}}
                        <p>
                            <strong>{{name}}</strong>
                            <br /><br />
                            {{{description}}}
                        </p>
                        <div class="item-qty-img">
                            <strong>Stock Level</strong>
                            <br /><br />
                            <img src="img/app/menu-jars/{{stock_level}}.png" alt="" />
                        </div>
                        <!-- <div class="label-container">
                            <div class="item-labels labels">
                                <div class="txt-label item-type">
                                    {{info.analysis.thc}}% <strong>THC</strong>
                                </div>
                                <div class="txt-label item-type">
                                    {{info.analysis.cbd}}% <strong>CBD</strong>
                                </div>
                            </div>
                        </div> -->
                    </div>
                    <!-- ADD TO CART/ QUANTITY OVERLAY -->
                    <div id="qty-overlay{{id}}" class="item-qty-overlay item-overlay">
                        <div data-id="{{id}}" class="qty-close-btn pull-right">
                            <i class="sti sti-close sti-3x"></i>
                        </div>
                        <p>
                            <strong>{{name}}</strong>
                            <br /><br />
                            {{{description}}}
                        </p>
                        <!-- OVERLAY BTNS -->
                        <div data-id="{{id}}" class="btns">
                            {{^price_weight}}
                                {{#price.ea}}
                                <div data-size="ea" class="btn pull-left order-btns">
                                    <i class="sti sti-cart"></i> ${{price.ea}} Each
                                </div>
                                {{/price.ea}}
                            {{/price_weight}}
                            {{#price_weight}}
                                {{#price.g}}
                                <div data-size="g" class="btn pull-left order-btns">
                                    <i class="sti sti-cart"></i> One Gram (1g) ${{price.g}}
                                </div>
                                {{/price.g}}
                                {{#price.eth}}
                                <div data-size="eth" class="btn pull-left order-btns">
                                    <i class="sti sti-cart"></i> Eighth (3.5g) ${{price.eth}}
                                </div>
                                {{/price.eth}}
                                {{#price.qtr}}
                                <div data-size="qtr" class="btn pull-left order-btns">
                                    <i class="sti sti-cart"></i> Quarter (7g) ${{price.qtr}}
                                </div>
                                {{/price.qtr}}
                                {{#price.half}}
                                <div data-size="half" class="btn pull-left order-btns">
                                    <i class="sti sti-cart"></i> Half (14g) ${{price.half}}
                                </div>
                                {{/price.half}}
                                {{#price.oz}}
                                <div data-size="oz" class="btn pull-left order-btns">
                                    <i class="sti sti-cart"></i> Full (28g) ${{price.oz}}
                                </div>
                                {{/price.oz}}
                            {{/price_weight}}
                        </div>
                    </div>

                    <!-- LIST ITEM -->
                    <div data-id="{{id}}" class="detail-btn pull-right">
                        <i class="sti sti-more sti-2x"></i>
                    </div>
                    <div class="item-inner">
                        <div class="item-labels">
                            <div class='shelf{{shelf}} txt-label'>
                                {{shelf_name}} SHELF
                            </div>
                            <div class="txt-label {{info.type}} item-type">
                                {{info.type}}
                            </div>
                        </div>
                        <div class="item-name">{{name}}</div>
                        <div class="item-img" style="background: url({{img_src}}) center center no-repeat;"></div>
                    </div>
                    <!-- ITEM BUTTONS -->
                    <div class="item-btns">
                        <div data-id="{{id}}" class="btn pull-left cart-btn">
                            <i class="sti sti-cart"></i> ADD TO CART
                        </div>
                    </div>
                </div>
            {{/.}}
        {{/mid_shelf}}
        {{#top_shelf}}
            {{#.}}
                <div class="item">
                    <!-- DETAILS OVERLAY -->
                    <div id="item-overlay{{id}}" class="item-overlay">
                        <div data-id="{{id}}" class="close-btn">
                            <i class="sti sti-close sti-3x"></i>
                        </div>
                        <div class="item-labels labels">
                            <div class='shelf{{shelf}} txt-label'>
                                {{shelf_name}} SHELF
                            </div>
                            <div class="txt-label {{info.type}} item-type">
                                {{info.type}}
                            </div>
                        </div>
                        {{#info.analysis}}
                        <div class="item-labels labels">
                            {{#info.analysis.thc}}
                            <div class="txt-label item-type">
                                {{info.analysis.thc}}% <strong>THC</strong>
                            </div>
                            {{/info.analysis.thc}}
                            {{#info.analysis.cbd}}
                            <div class="txt-label item-type">
                                {{info.analysis.cbd}}% <strong>CBD</strong>
                            </div>
                            {{/info.analysis.cbd}}
                        </div>
                        {{/info.analysis}}
                        <p>
                            <strong>{{name}}</strong>
                            <br /><br />
                            {{{description}}}
                        </p>
                        <div class="item-qty-img">
                            <strong>Stock Level</strong>
                            <br /><br />
                            <img src="img/app/menu-jars/{{stock_level}}.png" alt="" />
                        </div>
                        <!-- <div class="label-container">
                            <div class="item-labels labels">
                                <div class="txt-label item-type">
                                    {{info.analysis.thc}}% <strong>THC</strong>
                                </div>
                                <div class="txt-label item-type">
                                    {{info.analysis.cbd}}% <strong>CBD</strong>
                                </div>
                            </div>
                        </div> -->
                    </div>
                    <!-- ADD TO CART/ QUANTITY OVERLAY -->
                    <div id="qty-overlay{{id}}" class="item-qty-overlay item-overlay">
                        <div data-id="{{id}}" class="qty-close-btn pull-right">
                            <i class="sti sti-close sti-3x"></i>
                        </div>
                        <p>
                            <strong>{{name}}</strong>
                            <br /><br />
                            {{{description}}}
                        </p>
                        <!-- OVERLAY BTNS -->
                        <div data-id="{{id}}" class="btns">
                            {{^price_weight}}
                                {{#price.ea}}
                                <div data-size="ea" class="btn pull-left order-btns">
                                    <i class="sti sti-cart"></i> ${{price.ea}} Each
                                </div>
                                {{/price.ea}}
                            {{/price_weight}}
                            {{#price_weight}}
                                {{#price.g}}
                                <div data-size="g" class="btn pull-left order-btns">
                                    <i class="sti sti-cart"></i> One Gram (1g) ${{price.g}}
                                </div>
                                {{/price.g}}
                                {{#price.eth}}
                                <div data-size="eth" class="btn pull-left order-btns">
                                    <i class="sti sti-cart"></i> Eighth (3.5g) ${{price.eth}}
                                </div>
                                {{/price.eth}}
                                {{#price.qtr}}
                                <div data-size="qtr" class="btn pull-left order-btns">
                                    <i class="sti sti-cart"></i> Quarter (7g) ${{price.qtr}}
                                </div>
                                {{/price.qtr}}
                                {{#price.half}}
                                <div data-size="half" class="btn pull-left order-btns">
                                    <i class="sti sti-cart"></i> Half (14g) ${{price.half}}
                                </div>
                                {{/price.half}}
                                {{#price.oz}}
                                <div data-size="oz" class="btn pull-left order-btns">
                                    <i class="sti sti-cart"></i> Full (28g) ${{price.oz}}
                                </div>
                                {{/price.oz}}
                            {{/price_weight}}
                        </div>
                    </div>

                    <!-- LIST ITEM -->
                    <div data-id="{{id}}" class="detail-btn pull-right">
                        <i class="sti sti-more sti-2x"></i>
                    </div>
                    <div class="item-inner">
                        <div class="item-labels">
                            <div class='shelf{{shelf}} txt-label'>
                                {{shelf_name}} SHELF
                            </div>
                            <div class="txt-label {{info.type}} item-type">
                                {{info.type}}
                            </div>
                        </div>
                        <div class="item-name">{{name}}</div>
                        <div class="item-img" style="background: url({{img_src}}) center center no-repeat;"></div>
                    </div>
                    <!-- ITEM BUTTONS -->
                    <div class="item-btns">
                        <div data-id="{{id}}" class="btn pull-left cart-btn">
                            <i class="sti sti-cart"></i> ADD TO CART
                        </div>
                    </div>
                </div>
            {{/.}}
        {{/top_shelf}}
    </div>
    {{/menu}}
    <!-- <div id="cart-btn" class="mat-btn">
        <strong>(10)</strong>
        <!-- <small>(0)</small> -->
        <!-- <i class='sti sti-cart sti-lg sti-fw'></i> -->
    </div> -->
</div>
