<div id="order">
    <div class="header">
        <div class="header-txt">
            Your <strong>{{section}}</strong> (${{total}})
        </div>
    </div>
    <!-- ITEM LIST -->
    <div id="order-item-list" class="cart-stuff">
    {{#items}}
    <!-- LIST ITEM -->
        {{#.}}
          <div class='order-item col-12' data-id='{{id}}'>
              <div class="item-name col-5">
                  <strong>{{name}}</strong><br />
                  <div class="txt-label shelf{{shelf}} mini">
                      {{shelf_name}}
                  </div>
                  <div class="txt-label {{type}} mini">
                      {{type}}
                  </div>
                  <div class="txt-label {{size}} mini">
                      {{size}}
                  </div>
              </div>
              <div data-idx="{{cartIdx}}" class="item-actions col-4">
                  <i class="sti-plus sti-3x add-btn"></i>
                  <i class="sti-less sti-3x subtract-btn"></i>
              </div>
              <div class="item-price-qty col-3">
                  ({{qty}}) x ${{price}}<br />
                  <strong>${{total}}</strong>
              </div>
          </div>
        {{/.}}
    <!-- LIST ITEM -->
      {{/items}}
      {{^items}}
          <div class='order-item col-12' data-id='{{id}}'>
              <div class="item-actions col-12">
                  <h1>CART EMPTY</h1>
              </div>
          </div>
      {{/items}}
      <!-- ITEM LIST -->
      {{#has_items}}
          <div id="checkout-btn" class="cart-stuff">
              <!-- <small>CHECKOUT</small> -->
              <i class="sti sti-angle-right sti-3x"></i>
          </div>
      {{/has_items}}
    </div>
    <div id="order-checkout">
        <div id="checkout">
            <form id="checkout-form">
                <div id="checkout-time">
                    <h3><i class="sti sti-clock sti-lg"></i> When To Deliver</h3>
                    <label for="day">Day</label>
                    <!-- <div id="field-for-time" style="height: 3em; background-color: blue; width: 100%; margin: 0"></div> -->
                    <input id="day-picker" name="day" value="{{date}}" class="input" type="date" placeholder="Day" />
                    <input id="time-picker" name="time" value="{{time}}" class="input" type="time" placeholder="Time" />

                    <div id="back-btn" class="back-btn">
                      <i class="sti sti-angle-left sti-3x"></i>
                    </div>

                    <div id="time2addr" class="txt-btn pull-right right-btn">
                      <i class="sti sti-check sti-3x"></i>
                    </div>
                </div>
                <div id="checkout-addr">
                    <h3><i class="sti sti-map-marker sti-lg"></i> Where To Deliver</h3>
                    <textarea id="address" name="loc" placeholder="Enter Address" rows="4"></textarea>
                    <div id="addr2time" class="txt-btn pull-left left-btn">
                      <i class="sti sti-angle-left-circle sti-3x"></i>
                    </div>
                    <div id="addr2auth" class="txt-btn pull-right right-btn">
                      <i class="sti sti-check sti-3x"></i>
                    </div>
                </div>
                <div id="checkout-auth">
                    <h3><i class="sti sti-key sti-lg"></i> Sign In</h3>

                    <input name="phone" id="phone" class="input" type="phone" placeholder="Phone #" required autocomplete="off" />
                    <!-- <label for="phone"><span>Phone #</span></label> -->
                    <input name="passwd" id="passwd" class="inp" type="password" placeholder="Password" required autocomplete="off" />
                    <!-- <label for="passwd"><span>Password</span></label> -->

                    <div id="auth2addr" class="txt-btn pull-left left-btn">
                      <i class="sti sti-angle-left-circle sti-3x"></i>
                    </div>
                    <div id="order-btn" class="icon-btn">
                      <small>PLACE<br />ORDER</small>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="order-completed">
        <h1><i class="sti sti-check sti-5x"></i></h1>
        <h2>Order Successfully Created</h2>
        <h3>Your order has been sent to the dispensary. <br />You will recieve a text message when your order has been confirmed or declined.<h3>
        <h1>Thanks!</h1>

    </div>
</div>
