<div id="menu" >
    <div class="header">
        <div class="header-txt">
            Hi. You're looking at the <strong>MENU</strong>
        </div>
    </div>
    <div id="item-list">
        {{#itemlist}}
            {{#.}}
            <div class="item">
                <div class="item-overlay">

                    <!-- OVERLAY BTNS -->
                    <div class="btns">

                    </div>
                </div>
                <div class="item-inner">
                    <div class="item-img">
                        <img src="{{img}}" />
                    </div>
                    <div class="item-name">
                        <h1>{{name}}</h1>
                    </div>
                </div>
                <!-- ITEM BUTTONS -->
                <div class="item-btns">

                </div>
            </div>
            {{/.}}
        {{/itemlist}}
    </div>
</div>
