<div id="signup">
    <form id="signup-form">
        <div class="header">
            <div class="header-txt">
                New User <strong>SIGNUP</strong>
            </div>
        </div>
        <div id="signup-name" class="signup-input">
            <h3><i class="sti sti-user sti-lg"></i> Your Name</h3>
            <input id="fname" name="fname" placeholder="What's your First Name?" />
            <input id="lname" name="lname" placeholder="Last Name or Initial?"/>

            <div id="name2phone" class="txt-btn pull-right right-btn">
              <i class="sti sti-check sti-3x"></i>
            </div>
        </div>
        <div class="hide-this signup-input" id="signup-phone">
            <h3><i class="sti sti-phone sti-lg"></i> Your Phone #</h3>
            <input id="phone" name="phone" placeholder="What's your phone #?"/>
            <div id="phone2name" class="txt-btn pull-left left-btn">
              <i class="sti sti-angle-left-circle sti-3x"></i>
            </div>
            <div id="phone2passwd" class="txt-btn pull-right right-btn">
              <i class="sti sti-check sti-3x"></i>
            </div>
        </div>
        <div class="hide-this signup-input" id="signup-passwd">
            <h3><i class="sti sti-key sti-lg"></i> Your Password</h3>
            <input id="passwd" name="passwd" placeholder="Enter Password" />
            <input id="confirm_passwd" name="confirm_passwd" placeholder="Repeat Password"/>

            <div id="passwd2phone" class="txt-btn pull-left left-btn">
              <i class="sti sti-angle-left-circle sti-3x"></i>
            </div>

            <div id="signup-btn" class="mat-btn">
              <small>SIGN<br />UP</small>
            </div>
        </div>
    </form>
    <form class="signup-input hide-this " id="verify-phone">
    <h2>Verify Phone #</h2>
    <h3>Your phone has been sent a verification code, please enter to activate your account.<h3>
        <input id="verify_phone" name="verify_phone" placeholder="Enter Verification Code"/>
        <!-- verify button here -->
        <div id="verify-btn" class="mat-btn">
          <small>VERIFY<br />CODE</small>
        </div>
    </form>
    <div class="hide-this" id="verified">
        <h1><i class="sti sti-check sti-5x"></i></h1>
        <h2>Account Created</h2>
        <h3>Your user account has been created. <br />Please use your phone number and the password you created when placing orders.<h3>
        <h1>Thanks!</h1>

    </div>
</div>
