#indicator{
    @include raised-lvl(3);
    z-index:7;
    height: auto;
    padding:.75em;
    float:left;
    position:absolute;
    background-color: $dark_gray;
    border-radius: .125em;

    width:auto;
    bottom:-10em;
    left:1em;
    i{
	  margin-top: .25em;
    }
    .txt{
      color:$not_white;
      margin-left:.5em;
    }
    @include media($hybrid){
        width:auto;
        // bottom:1em;
        left:1em;
    }
    @include media($desk){
        width:auto;
        // bottom:1em;
        left:1em;
    }
    &.err{

		i{
		  color:$pom;
		}
    }
    &.win{

		i{
		  color:$green;
		}
    }
    &.info{

		i{
		  color:$blue;
		}
    }
    &.mdd{
        i{
             color: $mdd_green;
        }
    }
}
