body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Droid Sans','Open Sans',sans-serif;
    min-width: 460px;
}

#app-container{
	@include fill-parent;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    // z-index: 10;
    position: absolute;
    float: left;
    overflow: hidden;
    top:0;
}

#overlay{
    height: 100%;
}

#content{
	@include fill-parent;
	height:100%;
    width: 100%;
	margin:0;
    top: 0;
	overflow-x:hidden;
	overflow-y:hidden;
	position: absolute;
    background-position: center;
    background-size: cover;
    .loading-main{
        font-size: 5em;
        text-align: center;
        color: $mdd_green;
        width: 100%;
        margin-left: 0;
        margin-top: 35%;
    }
}
.view{
	// @include fill-parent;
	height:100%;
    width: 100%;
	margin:0;
    top: 0;
	overflow-x:hidden;
	overflow-y:auto;
	position: absolute;
    background-color: $not_white;
    padding-top: 5em;
    .header{
        height: 5em;
        // background-color: $not_white;
        // @include raised-lvl(1);
        width: 100%;
        text-align: center;
        padding-top: 1.75em;
        position: fixed;
        top: 0;
        left:0;
        .header-txt{
            color: $dark_gray;
            font-size: 1.25em;
        }
    }
}
#viewStage{
    display: none;
}
#menubtn{
    float: left;
    position: absolute;
    top: 1em;
    left: 1em;
    color: $dark_gray;
}
#sidemenu{
    @include raised-lvl(3);
    z-index:5;
    height: 100%;
    width: 35%;
    position: absolute;
    float: left;
    left: -80%;
    top:0;
    background: $dark_gray;
    .header{
        height: 2em;

        .txt{
            font-size: 1.5em;
        }
        .logo{

        }
    }
    .item{
        width: 100%;
        height: auto;
        padding: 1em;
        border-bottom: 1px solid $not_white;
        color: $not_white;
        .txt{
            font-size: 1.5em;
            // margin-left: .5em;
            display: inline-block;
        }
        .icon{
            font-size: 1.5em;
            margin-top: -.4em;
            display: inline-block;
            float: left;
        }
        &.sub{
            background-color: darken($mdd_green,20%);
        }
    }
}
.txt-label{
    padding: .25em;
    background: $green;
    float: left;
    color: $not_white !important;
    text-transform: uppercase;
    // margin-left: 25%;
    border-radius: .125em;
    cursor: pointer;
    margin-left:.5em;
    font-size: 1em;
    display: inline-block;
    &.mini{
        border-radius: .15em;
        font-size: .75em;
    }
}
a.txt-label{
        padding:.25em;
}
.mat-btn{
    @include raised-lvl(2);
    width: 4em;
    height: 4em;
    border-radius: 100%;
    position: fixed;
    right: 1.5em;
    bottom: 2em;
    background-color: lighten($dark_gray,10%);
    color: $not_white;
    font-size: 1em;
    padding: 1em;
    padding-left:.5em;
    padding-top: 1.15em;
    text-align: center;
    &:active{
        @include raised-lvl(0);
        // transition: 500ms;
        background-color: $dark_gray;
    }
    i{
        color: $not_white !important;
    }
}

.lt-640{
    #sidemenu{
        width: 60%;
        // left:-60%;
    }
}

.hide-til-loaded{
	display:none;
}
.show-til-loaded{
	width: 95%;
	padding: 1em;
	@include pad-fix();
	text-align:center;
	margin-top: 15%;
	i{
		font-size: 6em !important;
	}
	h1{
		font-size: 2em;
		font-weight: 300;
	}
}

//inputs

h1 {
  font-size: 28px;
  margin-bottom: 2.5%;
}
i{
    color: $dark_gray;
}
@-webkit-keyframes appear {
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  100% {
    opacity: 1;
  }
}
