#bloopgen{
    @extend .view;
    padding-top: .5em;
    overflow: hidden;
    .info-bubble{
        z-index: 4;
        background-color: $lucky30;
        padding: 1em;
        font-size: 1em;
        color: $not_white;
        text-align: center;
        float: left;
        position: absolute;
        bottom: 38%;
        width: 100%;
        margin: 0;

		@include media($small_phone){
			font-size: 0.85em;
		}
		@include media($ipad){
			font-size: 1.5em;
            bottom: 28%;
		}
		@include media($ipadPro){
			font-size: 1.75em;
            bottom: 22%;
		}

        &.header{
            top:0;
            background-color: none;
            font-size: 1.25em;
            padding: 0;
        }

    }
    #bloopmojis{
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: #222;
        float: left;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        display: none; /* hid initially */
        #bloopmoji{
            background-color: #222;
            padding: 0;
            width: 100%;
            padding-bottom: 1em;
            float: left;
            @include clr();
            .bloopmoji{
                width: 100%;
                border-bottom: 1px solid $not_white;
                img{
                    width: 30%;
                    height: auto;
                }
            }
        }
    }
    #bloop{
        // @include clr();
        position: relative;
        // margin-top: 15%;
        text-align: center;
        // overflow: hidden;
        // margin-left: -25%;
        margin-top: 23%;
        width: 100% !important;
        background-color: $not_white;
        #bloop_frame{
            background-color: $not_white;
            width: 169%;
            margin-left: -34%;
            height: auto;
            margin-bottom: 75%;
            margin-top: -25%;
            // float: left;
            // position: absolute;
        }
        .bloopmoji{
            // @include clr();
            float: left;
            position: absolute;
            bottom: 65%;
            width: 25%;
            height: auto;
            img{
                width:175%;
                height: auto;
                pointer-events:none !important;
            }
            img{
                float: left;
                margin-left: -49%;
            }
        }
        #bm1{
            left:32%;
            z-index: 2;
        }
        #bm2{
            left:57%;
            z-index: 1;
        }
        &.shadow{
            z-index: -100;
            width: 200%;
            #bloop_frame{
                width: 300%;
            }
        }
    }
    i{
        color: #fff;
    }
}
