//colors
$lucky30: #539c3b;
.luck{
    color: $lucky30;
}
#preload{
    width: 100%;
    text-align: center;
    color: $dark_gray;
    float: left;
    img{
        max-width: 95%;
        height: auto;
		@include media($ipad){
            margin-top: 29%;
		}
		@include media($ipadPro){
            margin-top: 39%;
		}

    }
    i{
        font-size: 6em !important;
		@include media($ipad){
            margin-top: 29%;
		}
		@include media($ipadPro){
            margin-top: 39%;
		}
        margin-top: 25%;
    }
}
#loader{
    @extend #overlay;
    background-color: lighten($dark_gray,20%);
    color: $not_white;
    width: 100%;
    height: 100%;
    float: left;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
    img{
        width: 95%;
        height: auto;
        margin-left: 2.5%;
    }
    #loading{
        width: 100%;
        text-align: center;
        float: left;
        img{
            width: 95%;
            height: auto;
            margin-left: 2.5%;
            margin-top: 35%;
    		@include media($ipad){
                margin-top: 15%;
    		}
    		@include media($ipadPro){
                margin-top: 15%;
    		}
        }
        i{
            color: $not_white !important;
            font-size: 6em !important;
            margin-top: 70%;
    		@include media($ipad){
            margin-top: 49%;
    		}
    		@include media($ipadPro){
            margin-top: 49%;
    		}
        }
    }
}
#main{
    @extend .view;
    // background-image: url('../img/app/header.jpg');
    // position: relative;
    background-color: #dfdfdf;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: #ecf0f1;
    text-align: center;
    padding: 2.5em 0 2em 0;
    cursor: default;
    .fullvid{
        width: 100%;
        height: auto;
        float: left;
        position: absolute;
        top: 0;
        left: 0;
    }
    #main-logo{
        background-color: transparentize($not_white,0.5);
        padding: 1em;
        margin-top: 40%;
        img{
            width: 70%;
        }
    }
    #ondash{
        position: absolute;
        float: left;
        width: 100%;
        top: 57%;
        img{
            @include raised-lvl(3);
            width:63%;
            &:active{
                @include raised-lvl(1);
            }
            // &:first-child{
            //     vertical-align: middle;
            // }
        }
    }
    .full-btns{
        .fullbtn{

            &:first-child{
                padding: .75em 0 .75em 0;
            }
        }
    }
    #mute{
        float: left;
        position: absolute;
        right: 1em;
        top: 1em;
    }
}

//globalize it

.full-btns{
    width: 100%;
    padding-top: 1em;
    padding-bottom: 0;
    margin: 0;
    float: left;
    position: absolute;
    bottom: 0;
    text-align: center;
    .fullbtn{
        @include raised-lvl(3);
        width: 92%;
        margin-left: 4%;
        padding: 1.25em 0 1.25em 0;
        font-size: 1.25em;
        margin-bottom: .5em;
        background-color: black;
        // border: 1px solid $dark_gray;
        color: $not_white;
        // transition: .1s;
        border-radius: .125em;
        .btn-txt{
            font-size: 1.5em;
            font-weight: 300;
            &.emph{
                font-weight: 600;
            }
        }

        &:last-child{
            margin-bottom: 1.5em;
        }
        .btn-img{
            vertical-align: middle;
            width: 84px;
        }
        &:active{
            @include raised-lvl(1);
            // border: 1px solid transparentize($lucky30,.4);
            // color: $not_white;
        }

		@include media($small_phone){
			font-size: 1em;
		}
    }
    .halfbtn{
        @extend .fullbtn;
        width: 44%;
        // margin: 1em 5% 1em 5%;
        display: inline-block;
        &:first-child{
            margin-left: 0;
        }
        &:last-child{
            // margin: 1em 2.5% 1em 5%;
        }
    }
    #listen-btn{
        background-color: black;
        position: relative;
        #sched{
            float: left;
            position: absolute;
            right: 3%;
            bottom: .5em;
            font-weight: 300;
            font-size: .9em;
            .emph{
                font-weight: 500;
            }
        }
    }
    #gen-btn{
        background-color: black;
        .btn-img{
            width: 90px;
            float:left;
            margin-top: -.65em;
            margin-left: 20%;
            margin-right: -15%;
        }
    }
}
