#menu{
    @extend .view;
    background-image: url('../img/app/bg1.jpg');
    overflow: hidden;
    #menu-nav{
        height: 4em;
        background-color: $not_white;
        float: left;
        position: absolute;
        bottom:0;
        width: 100%;
        .menu-nav-btn{
            height: 4em;
            // border-right: 1px solid $dark_gray;
            width: 25%;
            margin: 0;
            display: inline-block;
            &:last-child{
                border: none;
            }
        }
    }

    #item-list{
        height: 100%;
        width: 100%;
        // background-color: darken($light_gray,10%);
        overflow-x: scroll !important;
        float: left;
        white-space:nowrap;
        .item{
            @include raised-lvl(1);
            display:inline-block;
            width: 80%;
            height: 86%;
            margin-top: 10%;
            margin-left: 5%;
            margin-right: 5%;
            background-color: $not_white;
            white-space:normal;
            padding-top: 1em;
            position: relative;
            overflow:hidden;

            &:first-child{
                margin-left: 10%;
            }
            &:last-child{
                margin-right: 10%;
            }
            .item-labels{
                width: 100%;
                margin-bottom: 3em;
                @include clr();
            }
            .item-name{
                text-align: center;
                font-size: 1.5em;
                margin-bottom: .75em;
                text-transform: uppercase;
            }
            .item-img{
                position:absolute;
                // background-color: $dark_gray;
                background-size: cover;
                bottom: -.5em;
                width: 100%;
                height: 65%;
                img{
                    width: 100%;
                    // margin-left: 35%;
                }
            }
            .item-qty-img{
                width: 100%;
                text-align: center;
                img{
                    width: 25%;
                    // margin-left: 5%;
                }
            }
            .item-size{
                select{
                    width: 100%;
                    margin: 0;
                    margin-top: 1em;
                    font-size: 1.5em;
                    text-align: center;
                    option{
                        text-align: center;
                        padding: .5em;
                    }
                }
            }
            .item-btns{
                width: 100%;
                position: absolute;
                bottom: 0;
                padding: .5em;
                .btn{
                    @include raised-lvl(1);
                    margin: .5em;
                    margin-left: 10%;
                    padding: .75em;
                    padding-left: 1em;
                    padding-right: 1em;
                    border-radius: .15em;
                    width: 80%;
                    text-align: center;
                    &:active{
                        @include raised-lvl(0);
                    }
                }
            }
            .detail-btn{
                margin-right: 1em;
            }
            .close-btn{
                float: left;
                position: absolute;
                right: 0;
            }
            .item-overlay{
                @include fill-parent;
                height: 100%;
                background-color: $not_white;
                float: left;
                position: absolute;
                top: 100%;
                z-index: 1;
                p{
                    margin-left: 10%;
                    strong{
                        text-transform: capitalize;
                        margin-bottom: 1em;
                    }
                    padding: 1em;
                    color: $dark_gray;
                }
                .btns{
                    padding: .25em;
                    float: left;
                    position: absolute;
                    bottom: 1em;
                    width: 100%;
                    .btn{
                        @include raised-lvl(1);
                        &:active{
                            @include raised-lvl(0);
                        }
                        background-color: $not_white;
                        color: $mdd_green;
                        text-align: center;
                        text-transform: uppercase;
                        width: 80%;
                        font-size: 1em;
                        margin: .5em;
                        margin-left: 10%;
                        padding: .75em;
                        padding-left: 1em;
                        padding-right: 1em;
                        border-radius: .15em;
                    }
                }
                .label-container{
                    float: left;
                    position: absolute;
                    bottom: 1em;
                }
                .labels{
                    margin: 1em;
                    // margin-left: 10%;
                    .txt-label{
                        margin-bottom: .5em;
                        margin-top: .5em;
                    }
                }
            }
        }
    }

    #cart-btn{
        @extend .mat-btn;
        font-size: 1em;
        padding-left: .75em;
        i{
            display: inline-block;
        }
    }
}

.txt-label{
    &.indica{
        background-color: $purple;
    }
    &.sativa{
        background-color: $green;
    }
    &.hybrid{
        background-color: $orange;
    }
    &.shelf0{ //top
        background-color: $bhpgold;
    }
    &.shelf1{ //mid
        background-color: $med_txt;
    }
    &.shelf2{ //value
        background-color: $green;
    }
}
a.txt-label{
        padding:.25em;
}
