#order{
    @extend .view;
    background-image: url('../img/app/bg1.jpg');
    padding-top: 6em;
    .order-item{
        width: 100%;
        // margin-top: .25em;
        // margin-bottom: .25em;
        margin-top: 0;
        margin-bottom: 0;
        background-color: $dark_gray;
        color: $not_white;
        // height: 3em;
        font-size: 1em;
        padding:.5em;
        &:nth-child(odd) {
            background-color: transparentize($mdd_green, 0.15);
        }
        &:nth-child(even) {
            background-color: transparentize($dark_gray, 0.15);
        }
        .item-name{
            font-size: .85em;
        }
        .item-price-qty{
            float: right !important;
            // font-size: 1.25em;
        }

        .item-actions{
            text-align: center;
        }
    }
    .checkout-item{
        @extend .order-item;
        margin-top: 0;
        margin-bottom: 0;
        &:nth-child(odd) {
            background-color: transparentize($mdd_green, 0.15);
        }
        &:nth-child(even) {
            background-color: transparentize($dark_gray, 0.15);
        }
        .item-price-qty{
            float: right !important;
            font-size: 1em;
        }
    }

    #order-btn,#checkout-btn,#back-btn{
        @extend .mat-btn;
        position: fixed;
    }
    #checkout-btn{
        font-size: .85em;
        padding-left: .6em;
        padding-top: .7em;
    }
    #back-btn{
        left: 1.5em;
        font-size: .85em;
        padding-left: .5em;
        padding-top: .7em;
    }
    #order-btn{
        font-size: .85em;
        padding-left: .8em;
        padding-top: .8em;
    }
    #order-checkout{
        display: none;
        // z-index: 1;
        // background-color: $not_white;
        // height: 100%;
        h3{
            font-weight: 300;
            width: 100%;
            text-align: center;
            // margin-left: 1em;
        }
        text-align: center;
    }
    #order-completed{
        display: none;
        height: 100%;
        padding: 1em;
        h1,h2,h3{
            font-weight: 300;
        }
        i{
            color: $mdd_green;
        }
    }
    #order-item-list{

    }
    #checkout-addr,#checkout-auth{
        display: none;
    }
    .txt-btn{
        margin-top: 1em;
    }
    .left-btn{
        margin-left: 1.5em;
    }
    .right-btn{
        margin-right: 1.5em;
    }
}
input,textarea{
    width: 100% !important;
    font-size: 1.5em !important;
    padding: .25em;
    margin: 0;
    color: $dark_gray !important;
    margin-top: .25em;
    margin-bottom: .25em;
    border:none;
    border-bottom: 1px solid $dark_gray;
    background: none;
    &:focus{
      outline: 0;
    }
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: lighten($dark_gray,5%);
    }
}
label{
    margin-left: 1em;
    text-align: left;
}
.input-label{
    color: darken($mdd_green,15%);
}
