#signup{
    @extend #order;
    .signup-input{
        margin-top: 15%
    }
    #signup-btn{
        @extend #order-btn;
        font-size: .9em;
        padding-left: 1.1em;
        padding-top: 0.95em;
    }
    #verify-btn{
        font-size: .9em;
        padding-left: .8em;
        padding-top: 0.9em;
    }
    #verified,#verify-phone{
        @extend #order-completed;
    }
}
.hide-this{
    display: none;
}

.btn{
    @include raised-lvl(1);
    &:active{
        @include raised-lvl(0);
    }
    background-color: $not_white;
    color: $mdd_green;
    text-align: center;
    text-transform: uppercase;
    width: 80%;
    font-size: 1em;
    margin: .5em;
    margin-left: 10%;
    padding: .75em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: .15em;
}
