<!DOCTYPE html>
<html>
    <head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link rel="stylesheet" href="./css/mddaf.css" />
    </head>

    <body ng-app="MDDAF">
        <div id="app-container">
            <!-- Overlay -->

            <div id="loader">
                <div id="loading">
                    <img src="./res/img/bloop-lucky.png" />
                </div>
            </div>

            <div id="content" class="container">

            </div>

            <!-- INdicator -->
            <div id="indicator" class="mdd">
                <i class="sti sti-lg sti-spin sti-config"></i>
                <span class="txt">LOADING</span>
            </div>
        </div>
        <!-- <div id="viewStage"></div> -->
        <!-- Sidemenu -->
        <div id="sideCtrl" ng-controller='sideMenuCtrl'>
            <div id='sidemenu' >
                <div class='item' ng-click="hide()">
                    <div class='icon'>
                        <b class='sti-icon sti-fw sti-angle-left sti-2x'></b>
                    </div>
                    <div class='txt'>
                        HIDE
                    </div>
                </div>
                <div class='item' ng-click="nav(item.view,item.render)" ng-repeat="item in menu.items track by item.id">
                    <div class='txt'>
                        <b class='sti-icon sti-[[item.icon]] sti-lg sti-fw'></b> [[item.label]]
                    </div>
                </div>
            </div>

        </div>
        <script>
            var head_conf = {
                screens: [240, 320, 480, 640, 768, 800, 880, 900, 920, 940, 964, 1024, 1280, 1440, 1680, 1920]
            };
        </script>
        <script data-headjs-load="./js/mddaf-deps.min.js" src="./lib/js/head.min.js"></script>
    </body>
</html>
